# Скомпилированные файлы и прошивки
/bin/
/build_dir/
/staging_dir/
/tmp/

# Скачанные исходники пакетов
/dl/

# Локальные настройки и логи
/.config
/.config.old
/logs/

# Временные файлы системы сборки
/.prepared_*
/key-build*
/files/etc/dropbear/dropbear_rsa_host_key
/files/etc/dropbear/dropbear_ed25519_host_key
