config global global
	option lan_ifname 'br-lan'
	option theme_mode '1'

config appfilter appfilter
	option enable 1

config macfilter macfilter
	option enable 1

config record 'record'
	option enable '1'
	option record_time '3'
	option app_valid_time '3'
	option history_data_size '10'
	option history_data_path '/tmp/fwx'

config network network 
	option work_mode 0

config dashboard 'dashboard'

